extends auth_layout 

block left
    div(class="font-bold text-lg text-primary mb-3") Sign Up a new Account

        form(action="/auth/signup", method="POST")
            div(class="mb-3")
                label( for="lastName" class="text-primary") Last Name
                input(type="text" class="" id="lastName" name="lastname" required) 
            div(class="mb-3")
                label( for="firstName" class="text-primary") First Name
                input(type="text" class="" id="firstName" name="firstname") 
            div(class="mb-3")
                label( for="email" class="text-primary") Email
                input(type="email" class="" id="email" name="email")
            div(class="mb-3")
                label( for="phoneNumber" class="text-primary") Phone Number
                input(type="tel" class="" id="phoneNumber" name="phoneNumber") 
            div(class="mb-3")
                label( for="password" class="text-primary") Password
                input(type="password" class="" id="password" name="password") 
            
            input( id="role" name="role" Value="Admin" hidden)
            
            div(class="mb-3")
                label( for="password" class="text-primary" require) Username
                input(type="text" class="" id="username" name="username")
            button( class="w-full") Sign Up


        p(class="text-gray-600") already have an account ?.
            span(class="text-medium")
                a(href="/auth/login") Login  


block right
    img( src="/image/Buffer-bro.png" alt="girl")

