extends public_layout 

block public
    div(class="bg-primary py-40 lg:p-0 flex justify-center items-center ")
        div(class="lg:flex lg:w-full")
            div(class="bg-white flex justify-center items-center rounded-lg lg:rounded-r-2xl lg:w-3/5")
                div(class="m-8")        
                    block left
            div(class="hidden lg:flex justify-center items-center lg:w-2/5")
                div(class="m-8")
                    block right
