extends root_layout 
    
block root
    div(class=" h-screen px-3 pt-3 flex")
        div(class="sidebar")
            a(class="trigger" )
                i(class="fa fa-bars")

            nav(class="sidebar-nav")
                ul
                    li
                        a( class="sidebar-nav-link" href="/dashboard")
                            i(class="fa fa-laptop")
                                em() Dashboard         
                    li
                        a( class="sidebar-nav-link" href="/course")
                            i(class="fa fa-book-open")
                                em() Courses         
                    li
                        a( class="sidebar-nav-link" href="/course")
                            i(class="fa fa-book")
                                em() My Courses         
                    li
                        a( class="sidebar-nav-link" href="/auth/logout")
                            i(class="fa fa-right-from-bracket")
                                em() logout         
  
        main(class="layout-content") 
            div(class="w-full")
                block main

    script.
        document.addEventListener('DOMContentLoaded', function () {
            handleSideBar();
        });