extends auth_layout 


block left   
    div(class="font-bold text-lg text-primary mb-3") Login in  your Account
    div(class="")
        form(action="/auth/login", method="POST")
            div(class="mb-3")
                label( for="email" class="text-primary") Email
                input(type="email" class="" id="email" name="email") 
            div(class="mb-3")
                label( for="password" class="text-primary") Password
                input(type="password" class="" id="password" name="password")
            button( class="w-full") Login
            p(class="text-gray-600") dont have an account ?.
                span(class="text-medium")
                    a(href="/auth/signup") Sign Up  

block right
    img( src="/image/Course app-rafiki.png" alt="girl")