extends root_layout 

block root
    
    div(class="nav lg:px-14")
        input(type="checkbox" id="nav-check")
        div(class="nav-header")
            div(class="nav-title") 
                i(class="fa fa-chalkboard !important text-light") 
                   span(class="text-light font-black") GradUP
        div(class="nav-btn")
            label(for="nav-check")
                span 
                span 
                span 
        div(class="nav-links")
            if page !== 'home'
                a(href="/") Home 
            else
                a(href="/auth/login") Login 
                a(href="/auth/signup") SignUp 
    
    block public
      
    div(id="footer" class="bg-dark  ")
        div(class="flex flex-col lg:flex-row lg:justify-between  text-primary !important p-3 lg:pt-5 lg:px-16 lg:pb-14")
            div()
                i(class="fa fa-chalkboard  text-light py-5 flex justify-self-center") 
                    span(class="text-light font-black") GradUP

                p(class="text-bold text-primary flex justify-self-center") Follow us on social 
                div(class=" flex justify-evenly")
                    a( class="" href="#")
                        i(class="fa-brands fa-x-twitter text-primary")
                    a( class="" href="#")
                        i(class="fa-brands fa-instagram text-primary")
                    a( class="" href="#")
                        i(class="fa-brands fa-facebook text-primary")

            div(class="")
                p(class="font-extrabold py-5 text-primary flex justify-self-center") links

                div(class="flex lg:flex-col justify-evenly")
                    a(href="#" class="text-primary") Home
                    a(href="#" class="text-primary") Help center
                    a(href="/auth/signup-tutor" class="text-primary") become a Tutor
            
            div(class="")
                p(class="font-extrabold py-5 text-primary") Resource

                div(class="flex lg:flex-col justify-evenly")
                    a(href="#" class="text-primary") about
                    a(href="#" class="text-primary") carrier
                    a(href="#" class="text-primary") legal notice
            div(class="")
                p(class="font-extrabold py-5 text-primary") Contacts

                div(class="flex lg:flex-col justify-evenly") 
                    a(href="#" class="text-primary") Epe, Lagos.
                    a(href="#" class="text-primary") support
                    a(href="#" class="text-primary") +234 800 000 0000

        div(class="bg-primary flex justify-center")
            a(href="#")      
                p © Aishat Tomilola 2023
    script.
        document.addEventListener('DOMContentLoaded', function () {
            //- handleCarousel();
        });

            

            