doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="/style.css")

        //- font css 
        link(rel="stylesheet", href="/fontawesome/css/all.css")
        link(rel="stylesheet", href="/fontawesome/css/all.min.css")

        script(src="/script.js") 
        title LMS
    body
        if message
            div(class=`${message.status}-alert alert `)
                h3 #{message.message}
                i(class="close fa fa-xmark")
        
        include mixins.pug
        
        block root
            
    script.
        document.addEventListener('DOMContentLoaded', function () {
          handleAlert()
        });   
        
