extends auth_layout 

block auth

    div(class="lg:h-screen lg:flex lg:w-full") 
        div(class="bg-white flex justify-center items-center rounded-lg lg:rounded-r-lg lg:w-3/5")        
            div(class="m-8")
                div(class="font-bold text-lg text-violet-700 mb-3") Sign Up a new Account
                nav(class="tabs")
                    a(class="tab active" data-toggle="tab" href="#student") Student
                    a(class="tab" data-toggle="tab" href="#tutor") Tutor

                div(class="tab-content")
                    div(id="student" class="tab-pane active")
                        form(action="/auth/signup", method="POST")
                            div(class="mb-3")
                                label( for="lastName" class="text-violet-700") Last Name
                                input(type="text" class="" id="lastName" name="lastname" required) 
                            div(class="mb-3")
                                label( for="firstName" class="text-violet-700") First Name
                                input(type="text" class="" id="firstName" name="firstname") 
                            div(class="mb-3")
                                label( for="email" class="text-violet-700") Email
                                input(type="enail" class="" id="email" name="email")
                            div(class="mb-3")
                                label( for="phoneNumber" class="text-violet-700") Phone Number
                                input(type="tel" class="" id="phoneNumber" name="phoneNumber") 
                            div(class="mb-3")
                                label( for="password" class="text-violet-700") Password
                                input(type="password" class="" id="password" name="password") 
                            div(class="mb-3")
                                label( for="role" class="text-violet-700") Role
                                select( class="" id="role" name="role")
                                    option( disabled slected label="Select a role")
                                    option(value="Admin" label="Admin")
                                    option(value="Tutor" label="Tutor")
                                    option(value="Student" label="Student")
                            div(class="mb-3")
                                label( for="password" class="text-violet-700" require) Username
                                input(type="text" class="" id="username" name="username")
                            button( class="") Sign Up
                    
                    div(id="tutor" class="tab-pane")
                        form(action="/auth/signup", method="POST")
                            div(class="mb-3")
                                label( for="username" class="text-violet-700") Username
                                input(type="text" class="" id="tutor-username" name="username") 
                            div(class="mb-3")
                                label( for="id" class="text-violet-700") Id number
                                input(type="text" class="" id="id" name="id") 
                            div(class="mb-3")
                                label( for="password" class="text-violet-700") Password
                                input(type="password" class="" id="tutor-password" name="password")
                            button( class="") Sign Up

                p(class="text-gray-600") already have an account ?.
                    span(class="text-violet-500")
                        a(href="/auth/login") Login  


        div(class="hidden lg:flex justify-center items-center lg:w-2/5")   
            div(class="m-8")
                h4 Image here
    
    script.
        document.addEventListener('DOMContentLoaded', function () {
          handleAlert()
        });     