extends layout 

block main
    p(class="font-bold text-3xl my-5") Manage Users

    div(class="flex gap-10 justify-end")    
        a(href="" ) 
            button( class="m-left")
                i( class="") 
                    span Generate  Tutor Acess-Code
        a(href="users/add-user" ) 
            button( class="m-left")
                i( class="fa fa-user-plus") 
                    span Add User
          
    div(class="my-5")
        table 
            thead 
                tr
                    th Name
                    th email
                    th date
            tbody 
                tr
                    td Aishat
                    td AT@mail.com
                    td 22-3-3003
                tr
                    td Aishat
                    td AT@mail.com
                    td 22-3-3003
                tr
                    td Aishat
                    td AT@mail.com
                    td 22-3-3003
                tr
                    td Aishat
                    td AT@mail.com
                    td 22-3-3003
                tr
                    td Aishat
                    td AT@mail.com
                    td 22-3-3003