extends layout 

block main
    p(class="font-bold text-3xl my-5") Manage Users

    div(class="flex gap-10 justify-end")    
        a(href="" ) 
            button( class="m-left")
                i( class="") 
                    span Generate  Tutor Acess-Code
        a(href="users/add-user" ) 
            button( class="m-left")
                i( class="fa fa-user-plus") 
                    span Add User
          
    div(class="my-5")
        table 
            thead 
                tr
                    th Name
                    th Email
                    th Username 
                    th Role 
                    th
            tbody 
                each person in users
                    tr
                        td #{person.fullname}
                        td #{person.email}
                        td #{person.username}
                        td #{person.role}
                        td