@tailwind base;

@tailwind components;

@tailwind utilities;

@layer components {
  @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

  * {
    font-family: 'Poppins', sans-serif;
    font-size: 1em;
    font-weight: 400;
    color: #28104e;
  }

  em {
    font-style: none;
  }

  a {
    text-decoration: none;
    color: inherit;
  }

  .layout-content {
    display: flex;
    position: relative;
    top: 4em;
    justify-content: center;
    align-items: center;
    flex: 1;
  }

  .trigger {
    z-index: 2;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 4em;
    background: #28104e;
  }

  .trigger > i {
    display: inline-block;
    margin: 1.5em 0 0 1.5em;
    color: #deacf5;
  }

  .sidebar-nav {
    position: fixed;
    top: 0;
    left: -15rem;
    overflow: hidden;
    transition: all 0.3s ease-in;
    width: 15em;
    height: 100%;
    background: #6237a0;
    color: #deacf5;
  }

  .sidebar-nav:hover,
  .sidebar-nav:focus,
  .trigger:focus + .sidebar-nav,
  .trigger:hover + .sidebar-nav {
    left: 0;
  }

  .sidebar-nav ul {
    position: absolute;
    top: 4em;
    left: 0;
    margin: 0;
    padding: 0;
    width: 15em;
  }

  .sidebar-nav ul li {
    width: 100%;
  }

  .sidebar-nav-link {
    position: relative;
    display: inline-block;
    width: 100%;
    height: 4em;
  }

  .sidebar-nav-link em {
    position: absolute;
    top: 50%;
    left: 4em;
    transform: translateY(-50%);
  }

  .sidebar-nav-link:hover {
    background: #9754cb;
  }

  .sidebar-nav-link > i {
    position: absolute;
    top: 0;
    left: 0;
    display: inline-block;
    width: 4em;
    height: 4em;
  }

  .sidebar-nav-link > i::before {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  @media (min-width: 48em) {
    .layout-content {
      margin-left: 4em;
      top: 0;
    }

    .trigger {
      width: 4em;
    }

    .sidebar-nav {
      width: 4em;
      left: 0;
    }
    .sidebar-nav:hover,
    .sidebar-nav:focus,
    .trigger:hover + .sidebar-nav,
    .trigger:focus + .sidebar-nav {
      width: 15em;
    }
  }

  /* @media (min-width: 64em) {
    .layout-content {
      margin-left: 15em;
    }
    .trigger {
      display: none;
    }
    .sidebar-nav {
      width: 15em;
    }
    .sidebar-nav ul {
      top: 1.3em;
    }
  } */

  .alert.success {
    border-color: green;
    border-left: 5px solid green;
  }
  .alert.success .close {
    color: green;
  }
  .alert.error {
    border-color: red;
    border-left: 5px solid red;
  }
  .alert.error .close {
    color: red;
  }

  .alert {
    z-index: 2;
    position: absolute;
    top: 70px;
    left: 50%;
    transform: translatex(-50%);
    width: 75%;
    margin: 20px auto;
    padding: 10px;
    border-radius: 0.5rem;
    cursor: hand;
    cursor: pointer;
    background-color: #ffffff;
    border: 1px solid #6237a0;
    border-left: 5px solid #6237a0;
    /* box-shadow: 0 0 3px 1px #666464; */
  }

  .close {
    position: absolute;
    width: 30px;
    height: 10px;
    opacity: 0.5;
    right: 15px;
    top: 5px;
    color: #6237a0;
  }

  input:focus,
  select:focus {
    border-bottom-width: 2px;
    border-bottom-color: #6237a0;
  }

  input,
  select {
    outline: none;
    border-width: 1px;
    border-radius: 0.5rem;
    padding-left: 15px;
    background: white;
  }
  label {
    display: block;
  }

  label,
  input,
  select {
    font-size: 1rem /* 16px */;
    line-height: 1.5rem;
    width: 100%;
  }

  button {
    width: fit-content;
    line-height: 1.5rem;
    color: #deacf5;
    background: #6237a0;
    border-radius: 0.5rem;
    outline: none;
    padding: 5px 20px;
  }

  button.inverse {
    border: 1px solid #28104e;
    background: none;
    color: #28104e;
  }
  button.inverse:hover {
    background: #28104e;
    color: #ffffff;
  }

  .tabs {
    display: flex;
    justify-content: space-around;
    padding: 3px;
    border-radius: 5px;
    border-color: #6237a0;
    margin-bottom: 30px;
    justify-content: space-between;
  }

  .tab {
    text-align: center;
    color: #6237a0;
    width: 100%;
    border-radius: 5px;
    cursor: pointer;
    transition: color 0.15s ease-in;
    margin: 0 1px;
  }

  .tab:hover {
    background-color: #9754cb;
    color: #deacf5;
  }

  .tab-pane {
    display: none;
  }

  .tab.active {
    background-color: #6237a0;
    color: #deacf5;
  }

  .tab-pane.active {
    display: block;
  }

  .nav {
    height: 50px;
    width: 100%;
    background-color: #6237a0;
    position: relative;
  }

  .nav > .nav-header {
    display: inline;
  }

  .nav > .nav-header > .nav-title {
    display: inline-block;
    font-size: 22px;
    color: #deacf5;
    padding: 10px 10px 10px 10px;
  }

  .nav > .nav-btn {
    display: none;
  }

  .nav > .nav-links {
    display: inline;
    float: right;
  }

  .nav > .nav-links > a {
    display: inline-block;
    padding: 13px 10px 13px 10px;
    text-decoration: none;
    color: #deacf5;
  }

  .nav > .nav-links > a:hover {
    background-color: #28104e;
  }

  .nav > #nav-check {
    display: none;
  }

  .card {
    border: 2px solid #28104e;
    border-radius: 0.5rem;
    width: fit-content;
    padding: 10px;
  }

  .card.active,
  .card:hover {
    box-shadow: 4px 4px 0px 0px #28104e;
  }

  .carousel {
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: calc((100% / 3)- 12px);
    gap: 16px;
    overflow: hidden;
    margin: 0 5px;
  }

  .carousel.dragging ::content {
    cursor: grab;
    user-select: none;
  }

  @media (max-width: 768px) {
    .nav > .nav-btn {
      display: inline-block;
      position: absolute;
      right: 0px;
      top: 0px;
    }

    .nav > .nav-btn > label {
      display: inline-block;
      width: 50px;
      height: 50px;
      padding: 13px;
    }

    .nav > .nav-btn > label:hover,
    .nav #nav-check:checked ~ .nav-btn > label {
      background-color: #28104e;
    }

    .nav > .nav-btn > label > span {
      display: block;
      width: 25px;
      height: 10px;
      border-top: 2px solid #deacf5;
    }
    .nav > .nav-links {
      position: absolute;
      display: block;
      width: 100%;
      background-color: #9754cb;
      height: 0px;
      transition: all 0.3s ease-in;
      overflow-y: hidden;
      top: 50px;
      left: 0px;
    }

    .nav > .nav-links > a {
      display: block;
      width: 100%;
    }

    .nav > #nav-check:checked ~ .nav-links {
      height: calc(100vh - 50px);
      overflow-y: auto;
    }
  }
}
