@tailwind base;

@tailwind components;

@tailwind utilities;

@layer components {
  @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

  * {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
  }

  input:focus,
  select:focus {
    border-bottom-width: 2px;
    border-bottom-color: rgb(109, 40, 217);
  }

  input,
  select {
    outline: none;
    border-width: 1px;
    border-radius: 5px;
    padding-left: 15px;
    background: white;
  }
  label {
    display: block;
  }

  label,
  input,
  select {
    font-size: 1rem /* 16px */;
    line-height: 1.5rem;
    width: 100%;
  }

  button {
    width: 100%;
    line-height: 1.5rem;
    color: white;
    background: rgb(109, 40, 217);
    border-radius: 5px;
    outline: none;
  }

  .tabs {
    display: flex;
    justify-content: space-around;
    padding: 3px;
    border-width: 1px;
    border-radius: 5px;
    border-color: rgb(109, 40, 217);
    margin-bottom: 30px;
  }

  .tab {
    text-align: center;
    color: rgb(109, 40, 217);
    width: 100%;
    border-radius: 5px;
    cursor: pointer;
    transition: color 0.15s ease-in;
  }

  .tab:hover {
    background-color: rgb(196, 181, 253);
    color: white;
  }

  .tab-pane {
    display: none;
  }

  .tab.active {
    background-color: rgb(109, 40, 217);
    color: white;
  }

  .tab-pane.active {
    display: block;
  }
}
