extends ../layout 

block main
    a(href="javascript:void(0)" class="font-semibold text-lg my-5" onclick="goBack()") 
        i( class=" fa-solid fa-angle-left") 
            span Back

    p(class="font-bold text-3xl my-5") Upload Document

    div(class="bg-light flex justify-center items-center rounded-lg")
        div(class="m-8 lg:mx-60 w-full")  
            form(enctype="multipart/form-data" action="/document/upload", method="POST")
                div(class="lg:flex justify-between")
                    div(class="mb-3")
                        label( for="title" class="text-primary") Title
                        input(type="text" class="" id="title" name="title" required) 
                    div(class="mb-3")
                        label( for="file" class="text-primary") File
                        input(type="file" class="" id="file" name="file") 
                div(class="mb-3")
                    label( for="instruction" class="text-primary") Instruction
                    textarea( class="" id="instruction" name="instruction" ) 
                input( id="id" name="id" Value=course.id hidden)
              
                button( class="w-full") Upload