extends ../layout 

block main 
    p(class="font-bold text-3xl my-5") Dashboard

        
    div(class="grid lg:grid-flow-col gap-5")
        +card
            div(class="flex items-center")
                div(class="basis-4/6 flex gap-5")
                    div(class=" bg-light rounded-lg text-3xl px-5 py-4")
                        i(class='fa fa-book')
                    div()
                        P(class="font-bold text-2xl") 0
                        P(class="font-bold text-md") Courses
                div(class="basis-2/6 ")
                        img( src="/image/Reading glasses-cuate.png" alt="girl")

            
        +card
            div(class="flex items-center")
                div(class="basis-4/6 flex gap-5")
                    div(class=" bg-medium rounded-lg text-3xl px-5 py-4")
                        i(class='fa-solid fa-graduation-cap')
                    div()
                        P(class="font-bold text-2xl") 0
                        P(class="font-bold text-md") Enrolled Students
                div(class="basis-2/6 ")
                        img( src="/image/college students-rafiki.png" alt="girl")
        
        +card
            div(class="flex  items-center")
                div(class="basis-4/6 flex gap-5")
                    div(class=" bg-primary rounded-lg text-3xl px-5 py-4")
                        i(class="fa-solid fa-video")
                    div()
                        P(class="font-bold text-2xl") 0
                        p(class="font-bold text-md") Videos 
                div(class="basis-2/6 ")
                        img( src="/image/Video files-amico.png" alt="girl")
        +card
            div(class="flex  items-center")
                div(class="basis-4/6 flex gap-5")
                    div(class=" bg-light rounded-lg text-3xl px-5 py-4")
                        i(class='fa-solid fa-folder-open')
                    div()
                        P(class="font-bold text-2xl") 0
                        p(class="font-bold text-md") Documents 
                div(class="basis-2/6 ")
                        img( src="/image/Online document-rafiki.png" alt="girl")
                    
  


    div()
        p(class="font-bold text-lg mt-5 mb-3") Courses

        table(class="mt-0")
            thead 
                tr
                    th Name
                    th email
                    th Status
                    th date
            tbody 
                if students
                    each  student in students
                        tr
                            td #{student.fullname}
                            td #{student.email } 
                            td(class="text-center") 
                                if student.Status
                                    p(class="bg-light rounded") Enabled 
                                else 
                                    p(class="bg-gray-500 text-white rounded") Disabled 

                            td #{student.createdAt}
        