extends ../layout 

block main
 
    p(class="font-bold text-3xl my-5") My Courses

    div(class="flex justify-between")
        div(class="search")
            i(class="search-icon fa-solid fa-magnifying-glass")
            input(class="search-input" type="search" placeholder="Search" onkeyup="searchList()")

        div(class="flex gap-10 justify-end")    
            //- a(href="" ) 
            //-     button( class="m-left")
            //-         i( class="") 
            //-             span Generate  Tutor Acess-Code
            a(href="my-courses/add-course" ) 
                button( class="m-left" )
                    i( class="fa fa-user-plus") 
                        span Add Course
          
    div(class="flex justify-center my-5 ")
        div(class="grid lg:grid-cols-4 gap-16 ")
                    if courses
                        each course in courses
                            a(href=`/tutor/my-courses/course/${course.id}`)
                                +course-card(course)