extends ../layout 

block main

    a(href="javascript:void(0)" class="font-semibold text-lg my-5" onclick="goBack()") 
        i( class=" fa-solid fa-angle-left") 
            span Back

    p(class="font-bold text-3xl my-5") Course

    div(class="bg-medium rounded-lg flex p-5 items-center ")
        div(class="basis-4/6")
            p(class="font-bold text-2xl")  #{course.title}
            p(class="text-lg") #{course.description}
        div(class="basis-2/6 flex justify-end")
            img( class="h-40" src="/image/Research paper-rafiki.png" alt="girl")
    p(class="font-semibold mt-5 mb-1") Contents

    div(class="flex justify-between")
        div(class="search")
            i(class="search-icon fa-solid fa-magnifying-glass")
            input(class="search-input" type="search" placeholder="Search" onkeyup="")

        div(class="flex gap-10 justify-end")    
            //- a(href="" ) 
            //-     button( class="m-left")
            //-         i( class="") 
            //-             span Generate  Tutor Acess-Code
            a(href=`${course.id}/upload` ) 
                button( class="m-left" )
                    i( class="fa fa-file-circle-plus") 
                        span upload content