extends ../layout 

block main
   
    p(class="font-bold text-3xl my-5") Dashboard

    div(class="")
        div(class="")
            div(class="bg-light rounded-lg flex px-5 items-center ")
                div(class="basis-4/6")
                    p(class="font-bold text-lg") Hello, #{user.fullname}
                    p(class="text-lg") Welcome, lets get to work.
                div(class="basis-2/6 ")
                    img( class="h-40" src="/image/Research paper-rafiki.png" alt="girl")
            p(class="font-semibold mt-5 mb-1") Popular courses
            div(class="w-full mb-5")
                +carousel
                    each course in topCourses
                        div(class="slide")
                            +course-card(course)
            p(class="font-semibold mt-5 mb-1") My courses
            div(class="flex justify-center mb-5")
                div(class="grid lg:grid-cols-4 gap-10 w-full")
                    each recent in recents
                        +enrolled-card(recent.course)


        //- div(class="lg:basis-2/6")
        //-     +card
        //-         p() yes
    
    